In [1]:
import pandas as pd
import requests
import ssl
import html5lib
import lxml

In [2]:
ssl.create_default_context = ssl._create_unverified_context

scraper = pd.read_html('https://en.wikipedia.org/wiki/The_World%27s_Billionaires')
scraper

[                                                    0  \
 0   List of the world's billionaires, ranked in or...
 1   The net worth of the world's billionaires incr...
 2                                 Publication details
 3                                           Publisher
 4                                         Publication
 5                                     First published
 6                                  Latest publication
 7                      Current list details (2021)[2]
 8                                          Wealthiest
 9                                     Net worth (1st)
 10                             Number of billionaires
 11                         Total list net worth value
 12                            New members to the list
 13           Forbes: The World's Billionaires website

                                                     1
 0   List of the world's billionaires, ranked in or...
 1   The net worth of the world's billionaires incr...
 2                                 Publication details
 3                Whale Media InvestmentsForbes family
 4                                              Forbes
 5                                       March 1987[1]
 6                                       April 6, 2021
 7                      Current list details (2021)[2]
 8                                          Jeff Bezos
 9                                      US$177 billion
 10                                               2755
 11                                   US$13.1 trillion
 12                                                493
 13           Forbes: The World's Billionaires website  ,
    Icon                                 Description
 0   NaN  Has not changed from the previous ranking.
 1   NaN    Has increased from the previous ranking.
 2   NaN    Has decreased from the previous ranking.,
    No.                      Name Net worth (USD)  Age    Nationality  \
 0    1                Jeff Bezos    $177 billion   57  United States
 1    2                 Elon Musk    $151 billion   49  United States
 2    3  Bernard Arnault & family    $150 billion   72         France
 3    4                Bill Gates    $124 billion   65  United States
 4    5           Mark Zuckerberg     $97 billion   36  United States
 5    6            Warren Buffett     $96 billion   90  United States
 6    7             Larry Ellison     $93 billion   76  United States
 7    8                Larry Page   $91.5 billion   48  United States
 8    9               Sergey Brin     $89 billion   47  United States
 9   10             Mukesh Ambani   $84.5 billion   63          India

    Source(s) of wealth
 0               Amazon
 1        Tesla, SpaceX
 2                 LVMH
 3            Microsoft
 4       Meta Platforms
 5   Berkshire Hathaway
 6   Oracle Corporation
 7        Alphabet Inc.
 8        Alphabet Inc.
 9  Reliance Industries  ,
    No.                      Name Net worth (USD)  Age    Nationality  \
 0    1                Jeff Bezos    $113 billion   56  United States
 1    2                Bill Gates     $98 billion   64  United States
 2    3  Bernard Arnault & family     $76 billion   71         France
 3    4            Warren Buffett   $67.5 billion   89  United States
 4    5             Larry Ellison     $59 billion   75  United States
 5    6            Amancio Ortega   $55.1 billion   84          Spain
 6    7           Mark Zuckerberg   $54.7 billion   35  United States
 7    8                Jim Walton   $54.6 billion   71  United States
 8    9              Alice Walton   $54.4 billion   70  United States
 9   10          S. Robson Walton   $54.1 billion   77  United States

   Source(s) of wealth
 0              Amazon
 1           Microsoft
 2                LVMH
 3  Berkshire Hathaway
 4  Oracle Corporation
 5       Inditex, Zara
 6      Facebook, Inc.
 7             Walmart
 8             Walmart
 9             Walmart  ,
    No.               Name Net worth (USD)  Age    Nationality  \
 0    1         Jeff Bezos    $131 billion   55  United States
 1    2         Bill Gates   $96.5 billion   63  United States
 2    3     Warren Buffett   $82.5 billion   88  United States
 3    4    Bernard Arnault     $76 billion   70         France
 4    5        Carlos Slim     $64 billion   79         Mexico
 5    6     Amancio Ortega   $62.7 billion   82          Spain
 6    7      Larry Ellison   $62.5 billion   74  United States
 7    8    Mark Zuckerberg   $62.3 billion   34  United States
 8    9  Michael Bloomberg   $55.5 billion   77  United States
 9   10         Larry Page   $50.8 billion   45  United States

           Source(s) of wealth
 0                      Amazon
 1                   Microsoft
 2          Berkshire Hathaway
 3                        LVMH
 4  América Móvil, Grupo Carso
 5               Inditex, Zara
 6          Oracle Corporation
 7              Facebook, Inc.
 8              Bloomberg L.P.
 9               Alphabet Inc.  ,
    No.             Name Net worth (USD)  Age    Nationality  \
 0    1       Jeff Bezos    $112 billion   54  United States
 1    2       Bill Gates     $90 billion   62  United States
 2    3   Warren Buffett     $84 billion   87  United States
 3    4  Bernard Arnault     $72 billion   69         France
 4    5  Mark Zuckerberg     $71 billion   33  United States
 5    6   Amancio Ortega     $70 billion   81          Spain
 6    7      Carlos Slim   $67.1 billion   78         Mexico
 7    8     Charles Koch     $60 billion   82  United States
 8    8       David Koch     $60 billion   77  United States
 9   10    Larry Ellison   $58.5 billion   73  United States

           Source(s) of wealth
 0                      Amazon
 1                   Microsoft
 2          Berkshire Hathaway
 3                        LVMH
 4              Facebook, Inc.
 5               Inditex, Zara
 6  América Móvil, Grupo Carso
 7             Koch Industries
 8             Koch Industries
 9          Oracle Corporation  ,
    No.               Name Net worth (USD)  Age    Nationality  \
 0    1         Bill Gates   $86.0 billion   61  United States
 1    2     Warren Buffett   $75.6 billion   86  United States
 2    3         Jeff Bezos   $72.8 billion   53  United States
 3    4     Amancio Ortega   $71.3 billion   80          Spain
 4    5    Mark Zuckerberg   $56.0 billion   32  United States
 5    6        Carlos Slim   $54.5 billion   77         Mexico
 6    7      Larry Ellison   $52.2 billion   72  United States
 7    8       Charles Koch   $48.3 billion   81  United States
 8    8         David Koch   $48.3 billion   76  United States
 9   10  Michael Bloomberg   $47.5 billion   75  United States

           Source(s) of wealth
 0                   Microsoft
 1          Berkshire Hathaway
 2                      Amazon
 3               Inditex, Zara
 4              Facebook, Inc.
 5  América Móvil, Grupo Carso
 6          Oracle Corporation
 7             Koch Industries
 8             Koch Industries
 9              Bloomberg L.P.  ,
    No.               Name Net worth (USD)  Age    Nationality  \
 0    1         Bill Gates   $75.0 billion   60  United States
 1    2     Amancio Ortega   $67.0 billion   79          Spain
 2    3     Warren Buffett   $60.8 billion   85  United States
 3    4        Carlos Slim   $50.0 billion   76         Mexico
 4    5         Jeff Bezos   $45.2 billion   52  United States
 5    6    Mark Zuckerberg   $44.6 billion   31  United States
 6    7      Larry Ellison   $43.6 billion   71  United States
 7    8  Michael Bloomberg   $40.0 billion   74  United States
 8    9       Charles Koch   $39.6 billion   80  United States
 9    9         David Koch   $39.6 billion   75  United States

           Source(s) of wealth
 0                   Microsoft
 1                     Inditex
 2          Berkshire Hathaway
 3  América Móvil, Grupo Carso
 4                      Amazon
 5              Facebook, Inc.
 6          Oracle Corporation
 7              Bloomberg L.P.
 8             Koch Industries
 9             Koch Industries  ,
    No.                 Name Net worth (USD)  Age    Nationality  \
 0    1           Bill Gates   $79.2 billion   59  United States
 1    2          Carlos Slim   $77.1 billion   75         Mexico
 2    3       Warren Buffett   $72.7 billion   84  United States
 3    4       Amancio Ortega   $64.5 billion   78          Spain
 4    5        Larry Ellison   $54.3 billion   70  United States
 5    6         Charles Koch   $42.9 billion   79  United States
 6    6           David Koch   $42.9 billion   74  United States
 7    8       Christy Walton   $41.7 billion   66  United States
 8    9           Jim Walton   $40.6 billion   66  United States
 9   10  Liliane Bettencourt   $40.1 billion   92         France

           Source(s) of wealth
 0                   Microsoft
 1  América Móvil, Grupo Carso
 2          Berkshire Hathaway
 3                     Inditex
 4          Oracle Corporation
 5             Koch Industries
 6             Koch Industries
 7                     Walmart
 8                     Walmart
 9                     L'Oreal  ,
    No.                     Name Net worth (USD)  Age    Nationality  \
 0    1               Bill Gates   $76.0 billion   58  United States
 1    2     Carlos Slim & family   $72.0 billion   74         Mexico
 2    3           Amancio Ortega   $64.0 billion   77          Spain
 3    4           Warren Buffett   $58.2 billion   83  United States
 4    5            Larry Ellison   $48.0 billion   70  United States
 5    6             Charles Koch   $40.0 billion   78  United States
 6    6               David Koch   $40.0 billion   73  United States
 7    8          Sheldon Adelson   $38.0 billion   80  United States
 8    9  Christy Walton & family   $36.7 billion   65  United States
 9   10               Jim Walton   $34.7 billion   65  United States

           Source(s) of wealth
 0                   Microsoft
 1  América Móvil, Grupo Carso
 2                     Inditex
 3          Berkshire Hathaway
 4          Oracle Corporation
 5             Koch Industries
 6             Koch Industries
 7             Las Vegas Sands
 8                     Walmart
 9                     Walmart  ,
    No.                          Name Net worth (USD)  Age    Nationality  \
 0    1          Carlos Slim & family   $73.0 billion   73         Mexico
 1    2                    Bill Gates   $67.0 billion   57  United States
 2    3                Amancio Ortega   $57.0 billion   76          Spain
 3    4                Warren Buffett   $53.5 billion   82  United States
 4    5                 Larry Ellison   $43.0 billion   68  United States
 5    6                  Charles Koch   $34.0 billion   77  United States
 6    6                    David Koch   $34.0 billion   72  United States
 7    8                   Li Ka-shing   $31.0 billion   84      Hong Kong
 8    9  Liliane Bettencourt & family   $30.0 billion   90         France
 9   10               Bernard Arnault   $29.0 billion   63         France

           Source(s) of wealth
 0  América Móvil, Grupo Carso
 1                   Microsoft
 2               Inditex Group
 3          Berkshire Hathaway
 4          Oracle Corporation
 5             Koch Industries
 6             Koch Industries
 7        Cheung Kong Holdings
 8                     L'Oréal
 9                        LVMH  ,
    No.                  Name Net worth (USD)  Age    Nationality  \
 0    1  Carlos Slim & family   $69.0 billion   72         Mexico
 1    2            Bill Gates   $61.0 billion   56  United States
 2    3        Warren Buffett   $44.0 billion   81  United States
 3    4       Bernard Arnault   $41.0 billion   63         France
 4    5        Amancio Ortega   $37.5 billion   75          Spain
 5    6         Larry Ellison   $36.0 billion   67  United States
 6    7          Eike Batista   $30.0 billion   55         Brazil
 7    8        Stefan Persson   $26.0 billion   64         Sweden
 8    9           Li Ka-shing   $25.5 billion   83      Hong Kong
 9   10         Karl Albrecht   $25.4 billion   92        Germany

                   Source(s) of wealth
 0          América Móvil, Grupo Carso
 1                           Microsoft
 2                  Berkshire Hathaway
 3  LVMH Moët Hennessy • Louis Vuitton
 4                       Inditex Group
 5                  Oracle Corporation
 6                           EBX Group
 7                                 H&M
 8                Cheung Kong Holdings
 9                                Aldi  ,
    No.                     Name Net worth (USD)  Age    Nationality  \
 0    1     Carlos Slim & family   $74.0 billion   71         Mexico
 1    2               Bill Gates   $56.0 billion   55  United States
 2    3           Warren Buffett   $50.0 billion   80  United States
 3    4          Bernard Arnault   $41.0 billion   62         France
 4    5            Larry Ellison   $39.5 billion   66  United States
 5    6           Lakshmi Mittal   $31.1 billion   60          India
 6    7           Amancio Ortega   $31.0 billion   74          Spain
 7    8             Eike Batista   $30.0 billion   53         Brazil
 8    9            Mukesh Ambani   $27.0 billion   54          India
 9   10  Christy Walton & family   $26.5 billion   62  United States

                   Source(s) of wealth
 0          América Móvil, Grupo Carso
 1                           Microsoft
 2                  Berkshire Hathaway
 3  LVMH Moët Hennessy • Louis Vuitton
 4                  Oracle Corporation
 5                      Arcelor Mittal
 6                       Inditex Group
 7                           EBX Group
 8                 Reliance Industries
 9                             Walmart  ,
    No.                  Name Net worth (USD)  Age    Nationality  \
 0    1  Carlos Slim & family   $53.5 billion   70         Mexico
 1    2            Bill Gates   $53.0 billion   54  United States
 2    3        Warren Buffett   $47.0 billion   79  United States
 3    4         Mukesh Ambani   $29.0 billion   53          India
 4    5        Lakshmi Mittal   $28.7 billion   60          India
 5    6         Larry Ellison   $28.0 billion   66  United States
 6    7       Bernard Arnault   $27.5 billion   61         France
 7    8          Eike Batista   $27.0 billion   53         Brazil
 8    9        Amancio Ortega   $25.0 billion   74          Spain
 9   10         Karl Albrecht   $23.5 billion   90        Germany

                   Source(s) of wealth
 0          América Móvil, Grupo Carso
 1                           Microsoft
 2                  Berkshire Hathaway
 3                 Reliance Industries
 4                      Arcelor Mittal
 5                  Oracle Corporation
 6  LVMH Moët Hennessy • Louis Vuitton
 7                           EBX Group
 8                       Inditex Group
 9                            Aldi Süd  ,
    No.            Name Net worth (USD)  Age    Nationality  \
 0    1      Bill Gates   $40.0 billion   53  United States
 1    2  Warren Buffett   $37.0 billion   78  United States
 2    3     Carlos Slim   $35.0 billion   69         Mexico
 3    4   Larry Ellison   $22.5 billion   64  United States
 4    5  Ingvar Kamprad   $22.0 billion   83         Sweden
 5    6   Karl Albrecht   $21.5 billion   89        Germany
 6    7   Mukesh Ambani   $19.5 billion   52          India
 7    8  Lakshmi Mittal   $19.3 billion   58          India
 8    9   Theo Albrecht   $18.8 billion   87        Germany
 9   10  Amancio Ortega   $18.3 billion   73          Spain

           Source(s) of wealth
 0                   Microsoft
 1          Berkshire Hathaway
 2  América Móvil, Grupo Carso
 3          Oracle Corporation
 4                        IKEA
 5                    Aldi Süd
 6         Reliance Industries
 7              Arcelor Mittal
 8     Aldi Nord, Trader Joe's
 9               Inditex Group  ,
    No.              Name Net worth (USD)  Age    Nationality  \
 0    1    Warren Buffett   $62.0 billion   77  United States
 1    2       Carlos Slim   $60.0 billion   68         Mexico
 2    3        Bill Gates   $58.0 billion   52  United States
 3    4    Lakshmi Mittal   $45.0 billion   57          India
 4    5     Mukesh Ambani   $43.0 billion   51          India
 5    6       Anil Ambani   $42.0 billion   48          India
 6    7    Ingvar Kamprad   $31.0 billion   81         Sweden
 7    8  Kushal Pal Singh   $30.0 billion   76          India
 8    9    Oleg Deripaska   $28.0 billion   40         Russia
 9   10     Karl Albrecht   $27.0 billion   88        Germany

            Source(s) of wealth
 0           Berkshire Hathaway
 1   América Móvil, Grupo Carso
 2                    Microsoft
 3               Arcelor Mittal
 4          Reliance Industries
 5  Anil Dhirubhai Ambani Group
 6                         IKEA
 7                    DLF Group
 8                        Rusal
 9                     Aldi Süd  ,
    No.             Name Net worth (USD)  Age    Nationality  \
 0    1       Bill Gates   $56.0 billion   51  United States
 1    2   Warren Buffett   $52.0 billion   76  United States
 2    3      Carlos Slim   $49.0 billion   67         Mexico
 3    4   Ingvar Kamprad   $33.0 billion   80         Sweden
 4    5   Lakshmi Mittal   $32.0 billion   56          India
 5    6  Sheldon Adelson   $26.5 billion   73  United States
 6    7  Bernard Arnault   $26.0 billion   58         France
 7    8   Amancio Ortega   $24.0 billion   71          Spain
 8    9      Li Ka-shing   $23.0 billion   78      Hong Kong
 9   10    David Thomson   $22.0 billion   49         Canada

                        Source(s) of wealth
 0                                Microsoft
 1                       Berkshire Hathaway
 2               América Móvil, Grupo Carso
 3                                     IKEA
 4                           Arcelor Mittal
 5                          Las Vegas Sands
 6                                     LVMH
 7                            Inditex Group
 8  Cheung Kong Holdings, Hutchison Whampoa
 9                      Thomson Corporation  ,
    No.                 Name Net worth (USD)  Age    Nationality  \
 0    1           Bill Gates   $52.0 billion   50  United States
 1    2       Warren Buffett   $42.0 billion   75  United States
 2    3          Carlos Slim   $30.0 billion   66         Mexico
 3    4       Ingvar Kamprad   $28.0 billion   79         Sweden
 4    5       Lakshmi Mittal   $23.5 billion   55          India
 5    6           Paul Allen   $22.0 billion   53  United States
 6    7      Bernard Arnault   $21.5 billion   57         France
 7    8  Al-Waleed bin Talal   $20.0 billion   49   Saudi Arabia
 8    9      Kenneth Thomson   $19.6 billion   82         Canada
 9   10          Li Ka-shing   $18.8 billion   77      Hong Kong

                     Source(s) of wealth
 0                             Microsoft
 1                    Berkshire Hathaway
 2            América Móvil, Grupo Carso
 3                                  IKEA
 4                  Mittal Steel Company
 5                             Microsoft
 6    LVMH Moët Hennessy • Louis Vuitton
 7               Kingdom Holding Company
 8                   Thomson Corporation
 9  Cheung Kong Group, Hutchison Whampoa  ,
    No.                 Name Net worth (USD)  Age    Nationality  \
 0    1           Bill Gates   $46.5 billion   49  United States
 1    2       Warren Buffett   $44.0 billion   74  United States
 2    3       Lakshmi Mittal   $25.0 billion   54          India
 3    4          Carlos Slim   $23.8 billion   65         Mexico
 4    5  Al-Waleed bin Talal   $23.7 billion   49   Saudi Arabia
 5    6       Ingvar Kamprad   $23.0 billion   79         Sweden
 6    7           Paul Allen   $21.0 billion   52  United States
 7    8        Karl Albrecht   $18.5 billion   85        Germany
 8    9        Larry Ellison   $18.4 billion   60  United States

In [3]:
for idx, table in enumerate(scraper):
    print('########################################################')
    print(idx)
    print(table)

########################################################
0
                                                    0  \
0   List of the world's billionaires, ranked in or...
1   The net worth of the world's billionaires incr...
2                                 Publication details
3                                           Publisher
4                                         Publication
5                                     First published
6                                  Latest publication
7                      Current list details (2021)[2]
8                                          Wealthiest
9                                     Net worth (1st)
10                             Number of billionaires
11                         Total list net worth value
12                            New members to the list
13           Forbes: The World's Billionaires website

                                                    1
0   List of the world's billionaires, ranked in or...
1   The net worth of the world's billionaires incr...
2                                 Publication details
3                Whale Media InvestmentsForbes family
4                                              Forbes
5                                       March 1987[1]
6                                       April 6, 2021
7                      Current list details (2021)[2]
8                                          Jeff Bezos
9                                      US$177 billion
10                                               2755
11                                   US$13.1 trillion
12                                                493
13           Forbes: The World's Billionaires website
########################################################
1
   Icon                                 Description
0   NaN  Has not changed from the previous ranking.
1   NaN    Has increased from the previous ranking.
2   NaN    Has decreased from the previous ranking.
########################################################
2
   No.                      Name Net worth (USD)  Age    Nationality  \
0    1                Jeff Bezos    $177 billion   57  United States
1    2                 Elon Musk    $151 billion   49  United States
2    3  Bernard Arnault & family    $150 billion   72         France
3    4                Bill Gates    $124 billion   65  United States
4    5           Mark Zuckerberg     $97 billion   36  United States
5    6            Warren Buffett     $96 billion   90  United States
6    7             Larry Ellison     $93 billion   76  United States
7    8                Larry Page   $91.5 billion   48  United States
8    9               Sergey Brin     $89 billion   47  United States
9   10             Mukesh Ambani   $84.5 billion   63          India

   Source(s) of wealth
0               Amazon
1        Tesla, SpaceX
2                 LVMH
3            Microsoft
4       Meta Platforms
5   Berkshire Hathaway
6   Oracle Corporation
7        Alphabet Inc.
8        Alphabet Inc.
9  Reliance Industries
########################################################
3
   No.                      Name Net worth (USD)  Age    Nationality  \
0    1                Jeff Bezos    $113 billion   56  United States
1    2                Bill Gates     $98 billion   64  United States
2    3  Bernard Arnault & family     $76 billion   71         France
3    4            Warren Buffett   $67.5 billion   89  United States
4    5             Larry Ellison     $59 billion   75  United States
5    6            Amancio Ortega   $55.1 billion   84          Spain
6    7           Mark Zuckerberg   $54.7 billion   35  United States
7    8                Jim Walton   $54.6 billion   71  United States
8    9              Alice Walton   $54.4 billion   70  United States
9   10          S. Robson Walton   $54.1 billion   77  United States

  Source(s) of wealth
0              Amazon
1           Microsoft
2                LVMH
3  Berkshire Hathaway
4  Oracle Corporation
5       Inditex, Zara
6      Facebook, Inc.
7             Walmart
8             Walmart
9             Walmart
########################################################
4
   No.               Name Net worth (USD)  Age    Nationality  \
0    1         Jeff Bezos    $131 billion   55  United States
1    2         Bill Gates   $96.5 billion   63  United States
2    3     Warren Buffett   $82.5 billion   88  United States
3    4    Bernard Arnault     $76 billion   70         France
4    5        Carlos Slim     $64 billion   79         Mexico
5    6     Amancio Ortega   $62.7 billion   82          Spain
6    7      Larry Ellison   $62.5 billion   74  United States
7    8    Mark Zuckerberg   $62.3 billion   34  United States
8    9  Michael Bloomberg   $55.5 billion   77  United States
9   10         Larry Page   $50.8 billion   45  United States

          Source(s) of wealth
0                      Amazon
1                   Microsoft
2          Berkshire Hathaway
3                        LVMH
4  América Móvil, Grupo Carso
5               Inditex, Zara
6          Oracle Corporation
7              Facebook, Inc.
8              Bloomberg L.P.
9               Alphabet Inc.
########################################################
5
   No.             Name Net worth (USD)  Age    Nationality  \
0    1       Jeff Bezos    $112 billion   54  United States
1    2       Bill Gates     $90 billion   62  United States
2    3   Warren Buffett     $84 billion   87  United States
3    4  Bernard Arnault     $72 billion   69         France
4    5  Mark Zuckerberg     $71 billion   33  United States
5    6   Amancio Ortega     $70 billion   81          Spain
6    7      Carlos Slim   $67.1 billion   78         Mexico
7    8     Charles Koch     $60 billion   82  United States
8    8       David Koch     $60 billion   77  United States
9   10    Larry Ellison   $58.5 billion   73  United States

          Source(s) of wealth
0                      Amazon
1                   Microsoft
2          Berkshire Hathaway
3                        LVMH
4              Facebook, Inc.
5               Inditex, Zara
6  América Móvil, Grupo Carso
7             Koch Industries
8             Koch Industries
9          Oracle Corporation
########################################################
6
   No.               Name Net worth (USD)  Age    Nationality  \
0    1         Bill Gates   $86.0 billion   61  United States
1    2     Warren Buffett   $75.6 billion   86  United States
2    3         Jeff Bezos   $72.8 billion   53  United States
3    4     Amancio Ortega   $71.3 billion   80          Spain
4    5    Mark Zuckerberg   $56.0 billion   32  United States
5    6        Carlos Slim   $54.5 billion   77         Mexico
6    7      Larry Ellison   $52.2 billion   72  United States
7    8       Charles Koch   $48.3 billion   81  United States
8    8         David Koch   $48.3 billion   76  United States
9   10  Michael Bloomberg   $47.5 billion   75  United States

          Source(s) of wealth
0                   Microsoft
1          Berkshire Hathaway
2                      Amazon
3               Inditex, Zara
4              Facebook, Inc.
5  América Móvil, Grupo Carso
6          Oracle Corporation
7             Koch Industries
8             Koch Industries
9              Bloomberg L.P.
########################################################
7
   No.               Name Net worth (USD)  Age    Nationality  \
0    1         Bill Gates   $75.0 billion   60  United States
1    2     Amancio Ortega   $67.0 billion   79          Spain
2    3     Warren Buffett   $60.8 billion   85  United States
3    4        Carlos Slim   $50.0 billion   76         Mexico
4    5         Jeff Bezos   $45.2 billion   52  United States
5    6    Mark Zuckerberg   $44.6 billion   31  United States
6    7      Larry Ellison   $43.6 billion   71  United States
7    8  Michael Bloomberg   $40.0 billion   74  United States
8    9       Charles Koch   $39.6 billion   80  United States
9    9         David Koch   $39.6 billion   75  United States

          Source(s) of wealth
0                   Microsoft
1                     Inditex
2          Berkshire Hathaway
3  América Móvil, Grupo Carso
4                      Amazon
5              Facebook, Inc.
6          Oracle Corporation
7              Bloomberg L.P.
8             Koch Industries
9             Koch Industries
########################################################
8
   No.                 Name Net worth (USD)  Age    Nationality  \
0    1           Bill Gates   $79.2 billion   59  United States
1    2          Carlos Slim   $77.1 billion   75         Mexico
2    3       Warren Buffett   $72.7 billion   84  United States
3    4       Amancio Ortega   $64.5 billion   78          Spain
4    5        Larry Ellison   $54.3 billion   70  United States
5    6         Charles Koch   $42.9 billion   79  United States
6    6           David Koch   $42.9 billion   74  United States
7    8       Christy Walton   $41.7 billion   66  United States
8    9           Jim Walton   $40.6 billion   66  United States
9   10  Liliane Bettencourt   $40.1 billion   92         France

          Source(s) of wealth
0                   Microsoft
1  América Móvil, Grupo Carso
2          Berkshire Hathaway
3                     Inditex
4          Oracle Corporation
5             Koch Industries
6             Koch Industries
7                     Walmart
8                     Walmart
9                     L'Oreal
########################################################
9
   No.                     Name Net worth (USD)  Age    Nationality  \
0    1               Bill Gates   $76.0 billion   58  United States
1    2     Carlos Slim & family   $72.0 billion   74         Mexico
2    3           Amancio Ortega   $64.0 billion   77          Spain
3    4           Warren Buffett   $58.2 billion   83  United States
4    5            Larry Ellison   $48.0 billion   70  United States
5    6             Charles Koch   $40.0 billion   78  United States
6    6               David Koch   $40.0 billion   73  United States
7    8          Sheldon Adelson   $38.0 billion   80  United States
8    9  Christy Walton & family   $36.7 billion   65  United States
9   10               Jim Walton   $34.7 billion   65  United States

          Source(s) of wealth
0                   Microsoft
1  América Móvil, Grupo Carso
2                     Inditex
3          Berkshire Hathaway
4          Oracle Corporation
5             Koch Industries
6             Koch Industries
7             Las Vegas Sands
8                     Walmart
9                     Walmart
########################################################
10
   No.                          Name Net worth (USD)  Age    Nationality  \
0    1          Carlos Slim & family   $73.0 billion   73         Mexico
1    2                    Bill Gates   $67.0 billion   57  United States
2    3                Amancio Ortega   $57.0 billion   76          Spain
3    4                Warren Buffett   $53.5 billion   82  United States
4    5                 Larry Ellison   $43.0 billion   68  United States
5    6                  Charles Koch   $34.0 billion   77  United States
6    6                    David Koch   $34.0 billion   72  United States
7    8                   Li Ka-shing   $31.0 billion   84      Hong Kong
8    9  Liliane Bettencourt & family   $30.0 billion   90         France
9   10               Bernard Arnault   $29.0 billion   63         France

          Source(s) of wealth
0  América Móvil, Grupo Carso
1                   Microsoft
2               Inditex Group
3          Berkshire Hathaway
4          Oracle Corporation
5             Koch Industries
6             Koch Industries
7        Cheung Kong Holdings
8                     L'Oréal
9                        LVMH
########################################################
11
   No.                  Name Net worth (USD)  Age    Nationality  \
0    1  Carlos Slim & family   $69.0 billion   72         Mexico
1    2            Bill Gates   $61.0 billion   56  United States
2    3        Warren Buffett   $44.0 billion   81  United States
3    4       Bernard Arnault   $41.0 billion   63         France
4    5        Amancio Ortega   $37.5 billion   75          Spain
5    6         Larry Ellison   $36.0 billion   67  United States
6    7          Eike Batista   $30.0 billion   55         Brazil
7    8        Stefan Persson   $26.0 billion   64         Sweden
8    9           Li Ka-shing   $25.5 billion   83      Hong Kong
9   10         Karl Albrecht   $25.4 billion   92        Germany

                  Source(s) of wealth
0          América Móvil, Grupo Carso
1                           Microsoft
2                  Berkshire Hathaway
3  LVMH Moët Hennessy • Louis Vuitton
4                       Inditex Group
5                  Oracle Corporation
6                           EBX Group
7                                 H&M
8                Cheung Kong Holdings
9                                Aldi
########################################################
12
   No.                     Name Net worth (USD)  Age    Nationality  \
0    1     Carlos Slim & family   $74.0 billion   71         Mexico
1    2               Bill Gates   $56.0 billion   55  United States
2    3           Warren Buffett   $50.0 billion   80  United States
3    4          Bernard Arnault   $41.0 billion   62         France
4    5            Larry Ellison   $39.5 billion   66  United States
5    6           Lakshmi Mittal   $31.1 billion   60          India
6    7           Amancio Ortega   $31.0 billion   74          Spain
7    8             Eike Batista   $30.0 billion   53         Brazil
8    9            Mukesh Ambani   $27.0 billion   54          India
9   10  Christy Walton & family   $26.5 billion   62  United States

                  Source(s) of wealth
0          América Móvil, Grupo Carso
1                           Microsoft
2                  Berkshire Hathaway
3  LVMH Moët Hennessy • Louis Vuitton
4                  Oracle Corporation
5                      Arcelor Mittal
6                       Inditex Group
7                           EBX Group
8                 Reliance Industries
9                             Walmart
########################################################
13
   No.                  Name Net worth (USD)  Age    Nationality  \
0    1  Carlos Slim & family   $53.5 billion   70         Mexico
1    2            Bill Gates   $53.0 billion   54  United States
2    3        Warren Buffett   $47.0 billion   79  United States
3    4         Mukesh Ambani   $29.0 billion   53          India
4    5        Lakshmi Mittal   $28.7 billion   60          India
5    6         Larry Ellison   $28.0 billion   66  United States
6    7       Bernard Arnault   $27.5 billion   61         France
7    8          Eike Batista   $27.0 billion   53         Brazil
8    9        Amancio Ortega   $25.0 billion   74          Spain
9   10         Karl Albrecht   $23.5 billion   90        Germany

                  Source(s) of wealth
0          América Móvil, Grupo Carso
1                           Microsoft
2                  Berkshire Hathaway
3                 Reliance Industries
4                      Arcelor Mittal
5                  Oracle Corporation
6  LVMH Moët Hennessy • Louis Vuitton
7                           EBX Group
8                       Inditex Group
9                            Aldi Süd
########################################################
14
   No.            Name Net worth (USD)  Age    Nationality  \
0    1      Bill Gates   $40.0 billion   53  United States
1    2  Warren Buffett   $37.0 billion   78  United States
2    3     Carlos Slim   $35.0 billion   69         Mexico
3    4   Larry Ellison   $22.5 billion   64  United States
4    5  Ingvar Kamprad   $22.0 billion   83         Sweden
5    6   Karl Albrecht   $21.5 billion   89        Germany
6    7   Mukesh Ambani   $19.5 billion   52          India
7    8  Lakshmi Mittal   $19.3 billion   58          India
8    9   Theo Albrecht   $18.8 billion   87        Germany
9   10  Amancio Ortega   $18.3 billion   73          Spain

          Source(s) of wealth
0                   Microsoft
1          Berkshire Hathaway
2  América Móvil, Grupo Carso
3          Oracle Corporation
4                        IKEA
5                    Aldi Süd
6         Reliance Industries
7              Arcelor Mittal
8     Aldi Nord, Trader Joe's
9               Inditex Group
########################################################
15
   No.              Name Net worth (USD)  Age    Nationality  \
0    1    Warren Buffett   $62.0 billion   77  United States
1    2       Carlos Slim   $60.0 billion   68         Mexico
2    3        Bill Gates   $58.0 billion   52  United States
3    4    Lakshmi Mittal   $45.0 billion   57          India
4    5     Mukesh Ambani   $43.0 billion   51          India
5    6       Anil Ambani   $42.0 billion   48          India
6    7    Ingvar Kamprad   $31.0 billion   81         Sweden
7    8  Kushal Pal Singh   $30.0 billion   76          India
8    9    Oleg Deripaska   $28.0 billion   40         Russia
9   10     Karl Albrecht   $27.0 billion   88        Germany

           Source(s) of wealth
0           Berkshire Hathaway
1   América Móvil, Grupo Carso
2                    Microsoft
3               Arcelor Mittal
4          Reliance Industries
5  Anil Dhirubhai Ambani Group
6                         IKEA
7                    DLF Group
8                        Rusal
9                     Aldi Süd
########################################################
16
   No.             Name Net worth (USD)  Age    Nationality  \
0    1       Bill Gates   $56.0 billion   51  United States
1    2   Warren Buffett   $52.0 billion   76  United States
2    3      Carlos Slim   $49.0 billion   67         Mexico
3    4   Ingvar Kamprad   $33.0 billion   80         Sweden
4    5   Lakshmi Mittal   $32.0 billion   56          India
5    6  Sheldon Adelson   $26.5 billion   73  United States
6    7  Bernard Arnault   $26.0 billion   58         France
7    8   Amancio Ortega   $24.0 billion   71          Spain
8    9      Li Ka-shing   $23.0 billion   78      Hong Kong
9   10    David Thomson   $22.0 billion   49         Canada

                       Source(s) of wealth
0                                Microsoft
1                       Berkshire Hathaway
2               América Móvil, Grupo Carso
3                                     IKEA
4                           Arcelor Mittal
5                          Las Vegas Sands
6                                     LVMH
7                            Inditex Group
8  Cheung Kong Holdings, Hutchison Whampoa
9                      Thomson Corporation
########################################################
17
   No.                 Name Net worth (USD)  Age    Nationality  \
0    1           Bill Gates   $52.0 billion   50  United States
1    2       Warren Buffett   $42.0 billion   75  United States
2    3          Carlos Slim   $30.0 billion   66         Mexico
3    4       Ingvar Kamprad   $28.0 billion   79         Sweden
4    5       Lakshmi Mittal   $23.5 billion   55          India
5    6           Paul Allen   $22.0 billion   53  United States
6    7      Bernard Arnault   $21.5 billion   57         France
7    8  Al-Waleed bin Talal   $20.0 billion   49   Saudi Arabia
8    9      Kenneth Thomson   $19.6 billion   82         Canada
9   10          Li Ka-shing   $18.8 billion   77      Hong Kong

                    Source(s) of wealth
0                             Microsoft
1                    Berkshire Hathaway
2            América Móvil, Grupo Carso
3                                  IKEA
4                  Mittal Steel Company
5                             Microsoft
6    LVMH Moët Hennessy • Louis Vuitton
7               Kingdom Holding Company
8                   Thomson Corporation
9  Cheung Kong Group, Hutchison Whampoa

In [4]:
scraper[3].drop(columns='No.')

,Name,Net worth (USD),Age,Nationality,Source(s) of wealth
0,Jeff Bezos,$113 billion,56,United States,Amazon
1,Bill Gates,$98 billion,64,United States,Microsoft
2,Bernard Arnault & family,$76 billion,71,France,LVMH
3,Warren Buffett,$67.5 billion,89,United States,Berkshire Hathaway
4,Larry Ellison,$59 billion,75,United States,Oracle Corporation
5,Amancio Ortega,$55.1 billion,84,Spain,"Inditex, Zara"
6,Mark Zuckerberg,$54.7 billion,35,United States,"Facebook, Inc."
7,Jim Walton,$54.6 billion,71,United States,Walmart
8,Alice Walton,$54.4 billion,70,United States,Walmart
9,S. Robson Walton,$54.1 billion,77,United States,Walmart

In [5]:
scraper[10].drop(columns='No.')

,Name,Net worth (USD),Age,Nationality,Source(s) of wealth
0,Carlos Slim & family,$73.0 billion,73,Mexico,"América Móvil, Grupo Carso"
1,Bill Gates,$67.0 billion,57,United States,Microsoft
2,Amancio Ortega,$57.0 billion,76,Spain,Inditex Group
3,Warren Buffett,$53.5 billion,82,United States,Berkshire Hathaway
4,Larry Ellison,$43.0 billion,68,United States,Oracle Corporation
5,Charles Koch,$34.0 billion,77,United States,Koch Industries
6,David Koch,$34.0 billion,72,United States,Koch Industries
7,Li Ka-shing,$31.0 billion,84,Hong Kong,Cheung Kong Holdings
8,Liliane Bettencourt & family,$30.0 billion,90,France,L'Oréal
9,Bernard Arnault,$29.0 billion,63,France,LVMH

In [9]:
ssl.create_default_context = ssl._create_unverified_context

url = 'https://www.gsmarena.com/xiaomi_12-11285.php'
job_df = pd.read_html(url)
job_df

[          0           1                                                  2
 0   Network  Technology                GSM / CDMA / HSPA / EVDO / LTE / 5G
 1   Network    2G bands        GSM 850 / 900 / 1800 / 1900 - SIM 1 & SIM 2
 2   Network         NaN                                           CDMA 800
 3   Network    3G bands    HSDPA 800 / 850 / 900 / 1700(AWS) / 1900 / 2100
 4   Network         NaN                                   CDMA2000 1xEV-DO
 5   Network    4G bands  1, 2, 3, 4, 5, 7, 8, 12, 17, 18, 19, 26, 34, 3...
 6   Network    5G bands              1, 3, 5, 8, 28, 41, 77, 78, 79 SA/NSA
 7   Network       Speed                     HSPA 42.2/5.76 Mbps, LTE-A, 5G
 8   Network         NaN                                                NaN
 9   Network         NaN                                                NaN
 10  Network         NaN                                                NaN
 11  Network         NaN                                                NaN
 12  Network         NaN                                                NaN
 13  Network         NaN                                                NaN
 14  Network         NaN                                                NaN,
         0          1                                      2
 0  Launch  Announced                      2021, December 28
 1  Launch     Status  Available. Released 2021, December 31,
       0           1                                              2
 0  Body  Dimensions  152.7 x 69.9 x 8.2 mm (6.01 x 2.75 x 0.32 in)
 1  Body      Weight                       179 g or 180 g (6.31 oz)
 2  Body         SIM             Dual SIM (Nano-SIM, dual stand-by)
 3  Body         NaN                                            NaN
 4  Body         NaN                                            NaN
 5  Body         NaN                                            NaN,
          0           1                                                  2
 0  Display        Type  OLED, 1B colors, 120Hz, Dolby Vision, HDR10+, ...
 1  Display        Size  6.28 inches, 95.2 cm2 (~89.2% screen-to-body r...
 2  Display  Resolution  1080 x 2400 pixels, 20:9 ratio (~419 ppi density)
 3  Display  Protection                       Corning Gorilla Glass Victus
 4  Display         NaN                                                NaN,
           0        1                                                  2
 0  Platform       OS                                Android 12, MIUI 13
 1  Platform  Chipset           Qualcomm SM8450 Snapdragon 8 Gen1 (4 nm)
 2  Platform      CPU  Octa-core (1x3.00 GHz Cortex-X2 & 3x2.50 GHz C...
 3  Platform      GPU                                         Adreno 730,
         0          1                                             2
 0  Memory  Card slot                                            No
 1  Memory   Internal  128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM
 2  Memory        NaN                                       UFS 3.1
 3  Memory        NaN                                           NaN
 4  Memory        NaN                                           NaN,
              0         1                                                  2
 0  Main Camera    Triple  50 MP, f/1.9, 26mm (wide), 1/1.56", 1.0µm, PDA...
 1  Main Camera  Features            Dual-LED dual-tone flash, HDR, panorama
 2  Main Camera     Video  8K@24fps (HDR10), 4K@30fps (HDR10+), 1080p@30/...
 3  Main Camera       NaN                                                NaN,
                0         1                            2
 0  Selfie camera    Single    32 MP, 26mm (wide), 0.7µm
 1  Selfie camera  Features                HDR, panorama
 2  Selfie camera     Video  1080p@30/60fps, 720p@120fps
 3  Selfie camera       NaN                          NaN,
        0            1                                           2
 0  Sound  Loudspeaker                   Yes, with stereo speakers
 1  Sound   3.5mm jack                                          No
 2  Sound          NaN  24-bit/192kHz audio Tuned by Harman Kardon,
        0              1                                                  2
 0  Comms           WLAN  Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Di...
 1  Comms      Bluetooth                                      5.2, A2DP, LE
 2  Comms            GPS  Yes, with A-GPS. Up to tri-band: GLONASS (1), ...
 3  Comms            NFC                                                Yes
 4  Comms  Infrared port                                                Yes
 5  Comms          Radio                                                 No
 6  Comms            USB                      USB Type-C 2.0, USB On-The-Go
 7  Comms            NaN                                                NaN
 8  Comms            NaN                                                NaN,
           0        1                                                  2
 0  Features  Sensors  Fingerprint (under display, optical), accelero...
 1  Features      NaN                                                NaN
 2  Features      NaN                                                NaN
 3  Features      NaN                                                NaN
 4  Features      NaN                                                NaN
 5  Features      NaN                                                NaN
 6  Features      NaN                                                NaN
 7  Features      NaN                                                NaN
 8  Features      NaN                                                NaN,
          0         1                                                  2
 0  Battery      Type                      Li-Po 4500 mAh, non-removable
 1  Battery  Charging  Fast charging 67W, 100% in 39 min (advertised)...
 2  Battery       NaN                                                NaN
 3  Battery       NaN                                                NaN
 4  Battery       NaN                                                NaN
 5  Battery       NaN                                                NaN
 6  Battery       NaN                                                NaN,
       0       1                         2
 0  Misc  Colors  Black, Green, Blue, Pink
 1  Misc   Price             About 510 EUR
 2  Misc     NaN                       NaN
 3  Misc     NaN                       NaN
 4  Misc     NaN                       NaN
 5  Misc     NaN                       NaN]

In [10]:
for idx, table in enumerate(job_df):
    print('########################################################')
    print(idx)
    print(table)

########################################################
0
          0           1                                                  2
0   Network  Technology                GSM / CDMA / HSPA / EVDO / LTE / 5G
1   Network    2G bands        GSM 850 / 900 / 1800 / 1900 - SIM 1 & SIM 2
2   Network         NaN                                           CDMA 800
3   Network    3G bands    HSDPA 800 / 850 / 900 / 1700(AWS) / 1900 / 2100
4   Network         NaN                                   CDMA2000 1xEV-DO
5   Network    4G bands  1, 2, 3, 4, 5, 7, 8, 12, 17, 18, 19, 26, 34, 3...
6   Network    5G bands              1, 3, 5, 8, 28, 41, 77, 78, 79 SA/NSA
7   Network       Speed                     HSPA 42.2/5.76 Mbps, LTE-A, 5G
8   Network         NaN                                                NaN
9   Network         NaN                                                NaN
10  Network         NaN                                                NaN
11  Network         NaN                                                NaN
12  Network         NaN                                                NaN
13  Network         NaN                                                NaN
14  Network         NaN                                                NaN
########################################################
1
        0          1                                      2
0  Launch  Announced                      2021, December 28
1  Launch     Status  Available. Released 2021, December 31
########################################################
2
      0           1                                              2
0  Body  Dimensions  152.7 x 69.9 x 8.2 mm (6.01 x 2.75 x 0.32 in)
1  Body      Weight                       179 g or 180 g (6.31 oz)
2  Body         SIM             Dual SIM (Nano-SIM, dual stand-by)
3  Body         NaN                                            NaN
4  Body         NaN                                            NaN
5  Body         NaN                                            NaN
########################################################
3
         0           1                                                  2
0  Display        Type  OLED, 1B colors, 120Hz, Dolby Vision, HDR10+, ...
1  Display        Size  6.28 inches, 95.2 cm2 (~89.2% screen-to-body r...
2  Display  Resolution  1080 x 2400 pixels, 20:9 ratio (~419 ppi density)
3  Display  Protection                       Corning Gorilla Glass Victus
4  Display         NaN                                                NaN
########################################################
4
          0        1                                                  2
0  Platform       OS                                Android 12, MIUI 13
1  Platform  Chipset           Qualcomm SM8450 Snapdragon 8 Gen1 (4 nm)
2  Platform      CPU  Octa-core (1x3.00 GHz Cortex-X2 & 3x2.50 GHz C...
3  Platform      GPU                                         Adreno 730
########################################################
5
        0          1                                             2
0  Memory  Card slot                                            No
1  Memory   Internal  128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM
2  Memory        NaN                                       UFS 3.1
3  Memory        NaN                                           NaN
4  Memory        NaN                                           NaN
########################################################
6
             0         1                                                  2
0  Main Camera    Triple  50 MP, f/1.9, 26mm (wide), 1/1.56", 1.0µm, PDA...
1  Main Camera  Features            Dual-LED dual-tone flash, HDR, panorama
2  Main Camera     Video  8K@24fps (HDR10), 4K@30fps (HDR10+), 1080p@30/...
3  Main Camera       NaN                                                NaN
########################################################
7
               0         1                            2
0  Selfie camera    Single    32 MP, 26mm (wide), 0.7µm
1  Selfie camera  Features                HDR, panorama
2  Selfie camera     Video  1080p@30/60fps, 720p@120fps
3  Selfie camera       NaN                          NaN
########################################################
8
       0            1                                           2
0  Sound  Loudspeaker                   Yes, with stereo speakers
1  Sound   3.5mm jack                                          No
2  Sound          NaN  24-bit/192kHz audio Tuned by Harman Kardon
########################################################
9
       0              1                                                  2
0  Comms           WLAN  Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Di...
1  Comms      Bluetooth                                      5.2, A2DP, LE
2  Comms            GPS  Yes, with A-GPS. Up to tri-band: GLONASS (1), ...
3  Comms            NFC                                                Yes
4  Comms  Infrared port                                                Yes
5  Comms          Radio                                                 No
6  Comms            USB                      USB Type-C 2.0, USB On-The-Go
7  Comms            NaN                                                NaN
8  Comms            NaN                                                NaN
########################################################
10
          0        1                                                  2
0  Features  Sensors  Fingerprint (under display, optical), accelero...
1  Features      NaN                                                NaN
2  Features      NaN                                                NaN
3  Features      NaN                                                NaN
4  Features      NaN                                                NaN
5  Features      NaN                                                NaN
6  Features      NaN                                                NaN
7  Features      NaN                                                NaN
8  Features      NaN                                                NaN
########################################################
11
         0         1                                                  2
0  Battery      Type                      Li-Po 4500 mAh, non-removable
1  Battery  Charging  Fast charging 67W, 100% in 39 min (advertised)...
2  Battery       NaN                                                NaN
3  Battery       NaN                                                NaN
4  Battery       NaN                                                NaN
5  Battery       NaN                                                NaN
6  Battery       NaN                                                NaN
########################################################
12
      0       1                         2
0  Misc  Colors  Black, Green, Blue, Pink
1  Misc   Price             About 510 EUR
2  Misc     NaN                       NaN
3  Misc     NaN                       NaN
4  Misc     NaN                       NaN
5  Misc     NaN                       NaN

In [18]:
df = job_df[0].dropna()
df

         0           1                                                  2
0  Network  Technology                GSM / CDMA / HSPA / EVDO / LTE / 5G
1  Network    2G bands        GSM 850 / 900 / 1800 / 1900 - SIM 1 & SIM 2
3  Network    3G bands    HSDPA 800 / 850 / 900 / 1700(AWS) / 1900 / 2100
5  Network    4G bands  1, 2, 3, 4, 5, 7, 8, 12, 17, 18, 19, 26, 34, 3...
6  Network    5G bands              1, 3, 5, 8, 28, 41, 77, 78, 79 SA/NSA
7  Network       Speed                     HSPA 42.2/5.76 Mbps, LTE-A, 5G

In [19]:
df = job_df[3].dropna()
df

         0           1                                                  2
0  Display        Type  OLED, 1B colors, 120Hz, Dolby Vision, HDR10+, ...
1  Display        Size  6.28 inches, 95.2 cm2 (~89.2% screen-to-body r...
2  Display  Resolution  1080 x 2400 pixels, 20:9 ratio (~419 ppi density)
3  Display  Protection                       Corning Gorilla Glass Victus